<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<style>
    
</style>
<body id="page-top">

    {% include nav.html %}

    <!-- Header -->
    <section class="bg-primary">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h1 class="page-heading">Resources</h1>
                <!-- <hr class="light"> -->
                <!-- <hr style="visibility:hidden;"> -->
                <h3 class="text-faded">Check out resources created by our community!
                </h3>
            </div>
        </div>
    </section>

    <!-- SAT -->
    <section class="bg-light" id="sat">
        <div class="container">
            <div class="row">
                <div class="wrapper">
                    <div class="wrapper-image">
                        <img src="/img/sat (2).png" />
                    </div>
                    <div class="wrapper-text">
                        <h2 class="section-heading">Placeholder</h2>
                        <p class="text-muted">Also Placeholder </p>
            
                        <a href="/resources/sat" class="btn btn-primary btn-xl">pls dont click</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- AP -->
    <section class="bg-gray" id="ap">
        <div class="container">
            <div class="row">
                <div class="wrapper">
                    <div class="wrapper-image right">
                        <img src="/img/ap.png" />
                    </div>
                    <div class="wrapper-text">
                        <h2 class="section-heading">Placeholdere</h2>
                        <p class="text-muted">Also Placeholder </p>
                        <a href="/resources/ap" class="btn btn-primary btn-xl page-scroll">pls dont click</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- ACT -->
    <section class="bg-light" id="act">
        <div class="container">
            <div class="row">
                <div class="wrapper">
                    <div class="wrapper-image">
                        <img src="/img/act.png" />
                    </div>
                    <div class="wrapper-text">
                        <h2 class="section-heading">Placeholder</h2>
                        <p class="text-muted">Also Placeholder </p>
        
                        <a href="https://drive.google.com/drive/folders/11fEfhm2CfPorFGYPyWuEm99hhXHZ7hR0?usp=sharing" class="btn btn-primary btn-xl">pls dont click</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- College Apps -->
    <section class="bg-gray" id="college-apps">
        <div class="container">
            <div class="row">
                <div class="wrapper">
                    <div class="wrapper-image right">
                        <img src="/img/college.png" />
                    </div>
                    <div class="wrapper-text">
                        <h2 class="section-heading">Placeholder</h2>
                        <p class="text-muted">Also Placeholder</p>
        
                        <a href="/resources/college" class="btn btn-primary btn-xl">pls dont click</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- School Subjects -->
    <section class="bg-light" id="school">
        <div class="container">
            <div class="row">
                <div class="wrapper">
                    <div class="wrapper-image">
                        <img src="/img/school.png" />
                    </div>
                    <div class="wrapper-text">
                        <h2 class="section-heading">Placeholder</h2>
                        <p class="text-muted">Also Placeholder</p>
        
                        <a href="/resources/school" class="btn btn-primary btn-xl">pls dont click</a>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Masterdoc -->
    <section class="bg-gray" id="masterdoc">
        <div class="container">
            <div class="row">
                <div class="wrapper">
                    <div class="wrapper-image right">
                        <img src="/img/masterdoc.png" />
                    </div>
                    <div class="wrapper-text">
                        <h2 class="section-heading">Placeholder</h2>
                        <p class="text-muted">placeholder</p>
        
                        <a href="/resources/masterdoc" class="btn btn-primary btn-xl">pls dont click</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
     
    <!-- Doc -->
    <section class="bg-light text-center" id="googledoc">
        <h2 class="text-center">Placeholder</h2>
        <a target="_blank" href="https://docs.google.com/document/d/1v1tePnyhruzgY0jVq0FoJGit2h48qqq5w2WQeOChi2c/edit?usp=sharing" class="btn btn-primary btn-xl" style="margin-top: 10px;">pls dont click</a>
    </section>
    {% include scripts.html %}

    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script>
        // check if browser understand object-fit style - affect css styles
        if (window.getComputedStyle(document.body).objectFit !== undefined) {
            $("body").addClass("object-fit-compatible");
            // check if browser understand background-size style - affect css styles
        } else if (window.getComputedStyle(document.body).backgroundSize !== undefined) {
            $("body").addClass("background-size-compatible");
            $('img').each(function () {
                $(this).css({
                    'background-image': 'url(\'' + $(this).attr('src') + '\')'
                });
            });
        }
    </script>
o
/body>

/html>
